/*********** Avatar */
.avatar, .smallavatar, .verysmallavatar {
  border-radius: 50%;
}

.avatar {
  width:80px;
  height:80px;
  border:1px solid black;
  @include box-shadow(rgba(0, 0, 0, 0.1) 3px 3px 8px);
}

.smallavatar {
  width:40px;
  height:40px;
  @include box-shadow(rgba(0, 0, 0, 0.1) 3px 3px 8px);
}

.verysmallavatar {
  width:30px;
  height:30px;
  @include box-shadow(rgba(0, 0, 0, 0.1) 3px 3px 8px);
}

/*********** Autocomplete */
.autocomplete-suggestions {
  border: 1px solid #999;
  background: #FFF;
  cursor: default;
  overflow: auto;
  @include box-shadow(rgba(50, 50, 50, 0.64) 1px 4px 3px);
}

.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}

.autocomplete-selected {
  background: #F0F0F0;
}

.autocomplete-suggestions strong {
  font-weight: normal; color: #3399FF;
}