/*********** Avatar */
.avatar, .smallavatar, .verysmallavatar {
  border-radius: 50%;
}

.avatar {
  width:80px;
  height:80px;
  border:1px solid black;
  background-color: white;

  @include z-depth(1);
  @include transition(border-radius, 0.4s, ease-out);

  &:hover {
    border-radius: 8px;
  }

  &.smallavatar {
    width:40px;
    height:40px;
  }

  &.verysmallavatar {
    width:30px;
    height:30px;
  }

  &.smallavatar, &.verysmallavatar {
    // @include z-depth(2);
    &:hover {
      border-radius: 4px;
    }
  }
}

/*********** Autocomplete */
.autocomplete-suggestions {
  border: 1px solid #999;
  background: #FFF;
  cursor: default;
  overflow: auto;
  @include z-depth(3);
}

.autocomplete-suggestion {
  padding: $padding-xs-vertical $padding-xs-horizontal;
  white-space: nowrap;
  overflow: hidden;
}

.autocomplete-selected {
  background: #F0F0F0;
}

.autocomplete-suggestions strong {
  font-weight: normal; color: #3399FF;
}