/*********** Posts */

.post-show,
.post-list {
  margin-right: 5px;
  padding-top: $padding-base-vertical;
  padding-bottom: 6px;
  border-top: none;

  + .post_list {
    border-top: 1px dotted $mutedColor;
  }

  .post-title {
    display: inline;
  }

  .post-avatar {
    float: right;
  }

  .post-date, .post-comment, .post-tags, .post-share {
    display: inline;
    color: $text-muted;
    font-size: $font-size-small;
    margin-right:10px;
    a {
      text-decoration: none;
      color: $text-muted;
    }
  }

  .post-date, .post-comment, .post-share {
    white-space: nowrap;
  }

  .post-share {
    display: none;
  }

  .post-next {
    display: inline;
    margin-left:10px;
    white-space: nowrap;
  }
}

.post-list {
  .post-icon {
    float: left;
    margin-top: 5px;
    span {
      margin-left: -5px;
      width: 50px;
      color: $brand-info;
      text-align: center;
    }
  }

  .post-title a {
    padding-right: 25px;
    color: $brand-primary;
    font-weight:bold;
  }

  .post-content {
    margin-left: 50px;
  }

  .post-content p {
    display: inline;
  }
}

.post-show {
  .post-avatar {
    margin-top: -30px;
    span {
      display: block;
      text-align: center;
    }
  }
  .post-abstract {
    padding: $padding-base-vertical $padding-base-horizontal;
    @extend .lead;
  }
}



.post-list-flat {
  // Post item in short list
  .post-date-divider {
    text-align: center;
    color: $text-muted;
  }
}


.post-list-flat .post-content {
  @include z-depth(1);

  &:hover {
    @include z-depth(0);
  }

  .post-title {
    .post-icon {
      color: $brand-primary;
    }
  }


  // Behavior for small thumbnails
  &.post-item-small {
    margin: $padding-small-vertical 0px 2 * $padding-small-vertical 0px;
    padding: $padding-small-vertical $padding-small-horizontal;

    .post-tags, .post-comment, .post-date, .post-abstract, .post-icon-bg {
      display: none;
    }

    .post-title {
      //font-size: $font-size-small;
      .post-icon {
        float: left;
        margin-right: $padding-small-horizontal;
      }
    }

    .avatar {
      @extend .verysmallavatar;
      float: right;
      margin-right: -2 * $padding-base-horizontal;
    }
  }

  // Behavior for large thumbnails
  &.post-item-large {
    margin: $padding-base-vertical 0px 2 * $padding-base-vertical 0px;
    padding: $padding-base-vertical $padding-base-horizontal;
    background-color: lighten($brand-primary-alt, 55%);

    .post-icon-bg {
      position: absolute;
      top: - $padding-base-vertical;
      right: $padding-base-horizontal * 3;
      font-size: 10em;
      color: rgba(0, 0, 0, 0.1);
    }

    .post-title {
      height: 38px;
      padding: 0px;
      display: table;
      a {
        color: $brand-primary;
      }
      .post-icon {
        font-size: 2em;
        float: left;
        padding: $padding-base-vertical $padding-base-horizontal;
        padding-left: 0px;
      }
      a {
        font-weight: bold;
        display: table-cell;
        vertical-align: middle;
      }
    }

    .post-tags {
      padding-top: 2 * $padding-base-vertical;

      &, a {
        color: $text-muted;
        font-size: $font-size-small;
      }
    }
    .post-abstract {
      .markdown p {
        display: inline;
      }
      .post-next {
        display: inline;
        margin-left:10px;
        white-space: nowrap;
      }
    }


    .post-metadata {
      text-align: center;
      border-bottom: 2px dotted $brand-primary;
      margin-bottom: $padding-base-vertical;

      .post-comment {
        float: left;
        a {
          color: $text-muted;
        }
      }
      .post-date {
        color: $text-muted;
      }
      .post-avatar {
        float: right;
        margin-top: 0px;
        margin-right: -2 * $padding-base-horizontal;
        .avatar {
          @extend .smallavatar;
        }
      }
    }

  }
}