/*********** Posts */

.post-show,
.post-list {
  margin-right: 5px;
  padding-top: $padding-base-vertical;
  padding-bottom: 6px;
  border-top: none;

  + .post_list {
    border-top: 1px dotted $mutedColor;
  }

  .post-title {
    display: inline;
  }

  .post-avatar {
    float: right;
  }

  .post-date, .post-comment, .post-tags, .post-share {
    display: inline;
    color: $text-muted;
    font-size: $font-size-small;
    margin-right:10px;
    a {
      text-decoration: none;
      color: $text-muted;
    }
  }

  .post-date, .post-comment, .post-share {
    white-space: nowrap;
  }

  .post-share {
    display: none;
  }

  .post-next {
    display: inline;
    margin-left:10px;
    white-space: nowrap;
  }
}

.post-list {
  .post-icon {
    float: left;
    margin-top: 5px;
    span {
      margin-left: -5px;
      width: 50px;
      color: $brand-info;
      text-align: center;
    }
  }

  .post-title a {
    padding-right: 25px;
    color: $brand-primary;
    font-weight:bold;
  }

  .post-content {
    margin-left: 50px;
  }

  .post-content p {
    display: inline;
  }
}

.post-show {
  .post-avatar {
    margin-top: -30px;
    span {
      display: block;
      text-align: center;
    }
  }
  .post-abstract {
    padding: $padding-base-vertical $padding-base-horizontal;
    @extend .lead;
  }
}



.post-list-flat {
  // Post item in short list
  .post-date-divider {
    text-align: center;
    color: $text-muted;
  }
  .post-embed {
    display: none;
  }
}


.post-list-flat .post-content {
  @include z-depth(1);

  &:hover {
    @include z-depth(0);
  }

  .post-title {
    .post-icon {
      color: $brand-primary;
    }
  }


  // Behavior for small thumbnails
  &.post-item-small {
    padding: $padding-small-vertical $padding-small-horizontal;

    .post-tags, .post-comment, .post-next, .post-date, .post-icon-bg {
      display: none;
    }

    .post-title,
    .post-abstract,
    .post-abstract .markdown,
    .post-abstract .markdown p {
      display: inline;
      font-size: $font-size-small;
    }

    .post-title {
      a {
        color: $brand-primary;
        font-weight: bold;
      }

      &:after {
        content: '\2013';
      }

      .post-icon {
        font-size: $font-size-base;
        float: left;
        margin-right: $padding-small-horizontal;
      }
    }

    .avatar {
      @extend .verysmallavatar;
      float: right;
      margin-right: -2 * $padding-base-horizontal;
    }
  }

  // Behavior for large thumbnails
  &.post-item-large {
    padding: $padding-base-vertical $padding-base-horizontal;

    .post-embed {
      @media (max-width: $screen-sm) {
        display: none;
      }
      @media (min-width: $screen-sm) {
        display: block;
        float: left;
        a {
          margin-right: $padding-base-horizontal;
          img {
            max-width: 220px;
            max-height: 120px;
          }
        }
      }
    }

    .post-icon-bg {
      display: block;
      position: relative;
      span {
        overflow: hidden;
      }
      top: 0;
      left: $padding-base-horizontal * 2;
      margin-bottom: -1.45em;
      font-size: 10em;
      color: rgba(0, 0, 0, 0.1);
      z-index: 1;
    }

    .post-wrapper {
      position: relative;
      z-index: 2;
    }

    .post-title {
      height: 38px;
      padding: 0px;
      display: table;

      .post-icon {
        font-size: 2em;
        float: left;
        padding: $padding-base-vertical $padding-base-horizontal;
        padding-left: 0px;
      }
      a {
        color: $brand-primary;
        font-weight: bold;
        display: table-cell;
        vertical-align: middle;
      }
    }

    .post-tags {
      clear: both;
      padding-top: 2 * $padding-base-vertical;

      &, a {
        color: $text-muted;
        font-size: $font-size-small;
      }
    }
    .post-abstract {
      .markdown p {
        display: inline;
      }
      .post-next {
        display: inline;
        margin-left:10px;
        white-space: nowrap;
      }
    }


    .post-metadata {
      text-align: center;
      border-bottom: 2px dotted $brand-primary;
      margin-bottom: $padding-base-vertical;

      .post-comment {
        float: left;
        a {
          color: $text-muted;
        }
      }
      .post-date {
        color: $text-muted;
      }
      .post-avatar {
        float: right;
        margin-top: 0px;
        margin-right: -2 * $padding-base-horizontal;
        .avatar {
          @extend .smallavatar;
        }
      }
    }

  }
}

.post-list-flat {
    display: flex;
    flex-wrap: wrap;

    .recent-posts {
        flex: 2 0 59%;
    }
    .vertical-flex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .horizontal-flex {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            div {
                flex: 1 0 40%;
            }
        }
    }
    .old-posts {
        flex: 1 0 30%;
    }
    .post-item-flex{
        margin: $padding-base-horizontal;
    }
}

