/* ********** Board ***/

.board-threadlist {
  padding-top: $padding-base-vertical;
  padding-bottom: $padding-base-vertical;
  border-top: none;
  clear: both;

  + .board-threadlist {
    border-top: 1px dotted $mutedColor;
  }

  .board-threadlist-flag {
    float: left;
    height: 100%;
    margin-top: 6px;
    margin-left: 5px;
    margin-right: 15px;
  }

  .board-threadlist-metadata {
    color: $text-muted;
  }

  .board-threadlist-avatar {
    float: right;
    max-width: 40%;
    margin-top: 6px;
    margin-right: 5px;
    text-align: right;
    .avatar {
      margin-bottom: 2px;
    }
  }

  .board-threadlist-actions {
    float: right;
    margin-top: 6px;
    margin-left: 10px;
    margin-right: 5px;
    max-width: 40%;
  }
}

.board-message {
  clear:both;

  &.message-quoted .message-content {
    @include z-depth(5);
  }

  .message-side {
    text-align: center;
    vertical-align: top;
    width: 90px;
    float: left;

    .message-number, .message-level {
      font-size: $font-size-small;
    }

    @media (max-width: $screen-sm) {
      text-align: left;
      width: 100%;
      margin-bottom: 3px;

      .avatar {
        width: 30px;
        height: 30px;
        box-shadow: none;
      }
      span {
        display: inline;
      }
    }

    @media (min-width: $screen-sm) {
      .message-level {
        display: block;
      }
      .message-number {
        display: block;
        margin-top: 8px;
      }
    }
  }

  .message-content {
    position:relative;
    min-height: 155px;
    margin-top: 15px;
    margin-bottom: 25px;
    padding: $padding-base-vertical $padding-base-horizontal;
    border-radius: $border-radius-base;
    @include z-depth(1);

    @media (max-width: $screen-sm) {
      clear: both;
    }
  }

  @media (min-width: $screen-sm) {

    .message-content:after {
      content: "";
      width: 16px;
      height: 16px;
      display: block;
      position: absolute;
      top: 15px;
      z-index: 1;
      background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAk0lEQVQ4jWNgYGBgqJux1bVu+taGhlWr2BjIAXUzt3jXzdj6v27m1msNM7fbkG8ABP+tm75lWvnM3fzkGgDB07c9rZu+OZB8A+B427qGyRulKDBg6/+6GVs/1M3cltnQ0MBErgFQvOVwzdQtmhQYsPV/3YytP+tmbq1HiXI6GkC+FygJRHKjkYKEREFSJjszUZCdAVSXUIYRblReAAAAAElFTkSuQmCC");
    }

    &.self-author {
      .message-content {
        margin-left: 10px;
        margin-right: 105px;
        border-right: 4px solid $brand-info;

        &:after {
          right: -16px;
        }
      }

      .message-side {
        float: right;
      }
    }

    &.other-author {
      .message-content {
        margin-left: 105px;
        margin-right: 10px;
        border-left: 4px solid $brand-info;

        &:after {
          left: -16px;
          @include scaleX(-1);
        }
      }
    }
  }

  .message-date {
    float: right;
    margin-top: -24px;
    font-size: $font-size-small;

    &, a {
      color: $text-muted !important;
    }
  }

  .message-flag {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
  }

  .message-actions {
    position: absolute;
    right: 0.5em;
    bottom: 0.5em;
  }
}
