html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 80px;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  min-height: 40px;
  margin-top: 40px;
  padding-top: $padding-large-vertical;
  text-align: center;

  background-color: $navbar-default-bg;
  &, a {
    color: $navbar-default-color;
  }
}

.footer {
  @media (min-width: $screen-sm) {
    p {
      float: left;
    }

    p + p {
      float: right;
    }
  }

}