
.footer {
  margin-top: 30px;
  padding-top: $padding-large-vertical;
  text-align: center;
  width: 100%;
  background-color: $brand-primary;
  &, a {
    color: $brand-info;
  }
}

.footer p {
  float:left;
}

.footer p + p {
  float:right;
}