/* IE10 W8, WP8 hack */
@-ms-viewport       { width: extend-to-zoom; zoom: 1.0; }
@viewport           { width: extend-to-zoom; zoom: 1.0; }


/*********** Transitions */
a:hover,
.btn:hover,
button:hover,
.navbar .badge {
  @include transition(color, 0.3s, ease);
  @include transition(background-color, 0.3s, ease-out);
}

/*********** General layout */

/* Decal anchors because of the fixed navbar */
a[name] {
  padding-top:70px;
  margin-top:-70px;
}

.tooltip-inner {
  white-space: pre-wrap;
}

.subheader {
  margin-top: 20px + $navbar-height;
  margin-bottom: 15px;
  text-align: center;
}

.footer {
  margin-bottom: 15px;
  text-align: center;
}

#slogan, #footer {
  display: inline-block;
  padding: $padding-small-vertical $padding-small-horizontal !important;
  background-color: $well-bg;
  border-radius: $border-radius-small;
  a {
    color: $brand-primary !important;
  }
}

.pagecontent, .sidebar-block {
  background-color: white;
  padding: 0px 10px 10px 10px;
  margin-bottom: 30px;

  @include z-depth(4);

  border-top: 4px solid $mainColor;
  border-radius: $border-radius-base $border-radius-base 0px 0px;
  @include gradient-vertical($well-bg, white, 0, 12px);
}

.help-block {
  font-size: $font-size-small;
}

.table.table-unbordered th, .table.table-unbordered td {
  border-top: none !important;
}

.table.table-unbordered {
  border: none;
}

.table.table-middle tr td {
  vertical-align:middle;
}

h2 {
  font-size: $font-size-h2;
  color: $mainColor;
  border-bottom: 2px dotted $mainColor;
  padding-bottom: $padding-base-vertical;
}

h3 {
  font-size: $font-size-h3;

  small, small a {
    color: $text-muted;
    font-size: $font-size-small;
  }
}

form.form {
  padding: $padding-large-vertical $padding-large-horizontal;
}

input[type="file"] {
  padding-bottom:35px;
}

.pagination li {
  a {
    border-radius: 50% !important;
  }
}


// /////// Buttons

.btn-toolbar .btn-group .btn {
  @extend .btn-circle;
  min-width: 2.5em;
}

.btn.btn-circle {
  border-radius: 50%;


}

h2 .btn {
  @extend .btn-sm;
  @extend .btn-default;
  @extend .btn-circle;
}
