@mixin lexpage-alert-variant($background, $foreground) {
  border-top: 6px solid $foreground;
  color: $foreground;
  background-color: $background;

  .alert-link {
    color: darken($foreground, 10%);
  }
}


@mixin z-depth($depth) {
  $depthpx: $depth * 1px;
  @include box-shadow(0 0px (2 + 3*$depthpx) $depthpx rgba(0, 0, 0, 0.3));
}

