


@mixin z-depth($depth) {
  $depthpx: $depth * 1px;
  @include box-shadow(0 0px (2 + 3*$depthpx) $depthpx rgba(0, 0, 0, 0.3));
}


// Bootstrap override

@mixin button-variant($color, $background, $border) {
  $darken-value: 15%;

  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    color: $color;
    background-color: darken($background, $darken-value);
        border-color: darken($border, 25%);
  }
  &:hover {
    color: $color;
    background-color: darken($background, $darken-value);
        border-color: darken($border, 12%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: darken($background, $darken-value);
        border-color: darken($border, 12%);

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: darken($background, $darken-value);
          border-color: darken($border, 25%);
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: $background;
          border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}