.navbar {
  border: none;

  @include z-depth(5);

  .navbar-brand {
    font-size: $font-size-large;
    font-weight: bold;
  }

  .navbar-toggle {
    border: 1px solid $brand-primary!important;
  }

  .badge {
    color: $btn-danger-color;
    background-color: $btn-danger-bg;
  }

  .dropdown-menu {
    border: none;
    padding-top: $padding-large-vertical;
    padding-bottom: $padding-large-vertical;
    border-bottom: 4px solid $brand-primary;
    border-radius: 0px;
    @include z-depth(4);
  }

  .navbar-right {
    .avatar {
      position: relative;
      z-index: 1001;

      float:right;
      margin-top:-10px;
      margin-left:10px;
      margin-bottom:-40px;
      width: 60px;
      height: 60px;

      @include z-depth(3);
    }

    .dropdown:hover .avatar {
      border-radius: 0px;
    }

    .badge {
      color: $btn-danger-color;
      background-color: $btn-danger-bg;

      &:hover {
        background-color: lighten($btn-danger-bg, 20%);
      }
    }
  }
}


/*********** Notifications */

.notification_list {
  width: 350px;
  @extend .dropdown-menu;
}

.notification {
  padding: $padding-base-vertical $padding-base-horizontal;
  border-top: none;
}

.notification + .notification {
  border-top: 1px solid $mutedColor;
}

.notification .notification_title {
  margin-left: 30px;
}

.notification .notification_icon {
  float: left;
  color: $text-muted !important;
  text-align: center;
}

.notification .notification_descr {
  margin-left: 30px;
  font-size: $font-size-small;
}

.notification .notification_descr em:before {
  content:"\00ab";
}

.notification .notification_descr em:after {
  content:"\00bb";
}

.notification .notification_date {
  white-space: nowrap;
  color: $text-muted;
}

.notification .notification_dismiss {
  float: right;
  font-size: $font-size-small;
}
