.navbar {
  border: none;

  @include z-depth(5);
  @include arceffect($navbar-default-bg);

  .navbar-brand {
    font-size: $font-size-large;
    font-weight: bold;
  }

  .navbar-toggle {
    border: 1px solid $mainColor!important;
  }

  .badge {
    color: $btn-danger-color;
    background-color: $btn-danger-bg;
  }

  li.dropdown {
    > a {
      color: $mainColor;
      margin-top: 10px;
      margin-bottom: 2px;
      padding: $padding-small-vertical $padding-small-horizontal;
      border-top: 2px dotted $navbar-default-bg;
    }

    &:hover > a {
      border-color: $mainColor;
    }
  }

  .dropdown-menu {
    border-bottom: 3px solid $mainColor;
    border-radius: 0px 0px $border-radius-base $border-radius-base;
    @include z-depth(4);
  }

  .navbar-right {
    .avatar {
      float:right;
      margin-top:-10px;
      margin-left:10px;
      margin-bottom:-40px;
      width: 60px;
      height: 60px;
      @include z-depth(3);
    }

    .badge {
      color: $btn-danger-color;
      background-color: $btn-danger-bg;

      &:hover {
        background-color: lighten($btn-danger-bg, 20%);
      }
    }

    li.dropdown:hover a {
      border-color: $navbar-default-bg!important;
    }
  }
}


/*********** Notifications */

.notification_list {
  width: 350px;
  padding: $padding-base-vertical $padding-base-horizontal;
  background-color: $navbar-default-bg!important;
}

.notification {
  padding: $padding-base-vertical $padding-base-horizontal;
  border-top: none;
}

.notification + .notification {
  border-top: 1px solid $mutedColor;
}

.notification .notification_title {
  margin-left: 30px;
}

.notification .notification_icon {
  float: left;
  color: $text-muted !important;
  text-align: center;
}

.notification .notification_descr {
  margin-left: 30px;
  font-size: $font-size-small;
}

.notification .notification_descr em:before {
  content:"\00ab";
}

.notification .notification_descr em:after {
  content:"\00bb";
}

.notification .notification_date {
  white-space: nowrap;
  color: $text-muted;
}

.notification .notification_dismiss {
  float: right;
  font-size: $font-size-small;
}
