/*********** Minichat */


.sidebar-online {
  text-align: center;
  margin-bottom: 10px;
  padding: $padding-small-vertical $padding-small-horizontal;
  background-color: $well-bg;
  border-radius: $border-radius-small;
}

/* Full minichat, external div */
#minichat_content {
  max-height:380px;
  overflow:auto;
  margin-bottom: $padding-large-vertical;
}

#minichat_form {
  padding-top: $padding-large-vertical;
  border-top: 2px dotted $mainColor;
}

/* Full minichat, internal div */
.minichat-content {
  font-size: 10pt;
  padding: $padding-xs-vertical $padding-xs-horizontal;

  /* Full message (time, text, user, ...) */
  .minichat-message {
    margin-bottom: 18px;

    .avatar {
      vertical-align: top;
    }

    &.self-author {
      .avatar {
        float: right;
      }
      .minichat-text {
        margin-right: 40px;
        &:after {
          content: "";
          position: absolute;
          border-style: solid;
          border-width: 5px 0 5px 10px;
          border-color: transparent lightgray;
          display: block;
          width: 0;
          z-index: 1;
          top: 5px;
          right: -10px;
        }
      }
    }

    &.other-author {
      .avatar {
        float: left;
      }
      .minichat-text {
        margin-left: 40px;
        &:after {
          content: '';
          position: absolute;
          border-style: solid;
          border-width: 5px 10px 5px 0;
          border-color: transparent lightgray;
          display: block;
          width: 0;
          z-index: 1;
          top: 5px;
          left: -10px;
        }
      }
    }
  }

  /* Time (HH:MM) */
  .minichat-time {
    float: right;
    font-size: 75%;
    color: #9ca3a8;
    margin-top: -2px;
  }

  .minichat-date {
    text-align: center;
    margin-top: 3px;
    color: $text-muted;
  }

  /* Actual text of the message */
  .minichat-text {
    position: relative;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: $padding-xs-vertical $padding-xs-horizontal;
    border: 1px solid $mutedColor;
    border-radius: $border-radius-small;
    @include z-depth(2);
  }
}

.minichat-remainingChars {
  margin-top: $padding-large-vertical;
  text-align: center;
  font-size: $font-size-small;
  color: $text-muted;
}





/*********** Birthday */
.birthday .birthday_avatar {
  float: right;
}

.birthday .birthday_date {
  display: block;
  font-size: $font-size-small;
  color: $text-muted;
}