/*********** Minichat */


.sidebar-online {
  text-align: center;
  margin-bottom: 10px;
  padding: $padding-small-vertical $padding-small-horizontal;
  background-color: $well-bg;
  border-radius: $border-radius-small;
}

/* Full minichat, external div */
#minichat_content {
  max-height:380px;
  overflow:auto;
  margin-bottom: $padding-large-vertical;
}

#minichat_form {
  padding-top: $padding-large-vertical;
  border-top: 2px dotted $brand-primary;
}

/* Full minichat, internal div */
.minichat-content {
  font-size: 10pt;
  padding: $padding-xs-vertical $padding-xs-horizontal;

  /* Full message (time, text, user, ...) */
  .minichat-message {
    margin-bottom: 18px;

    .avatar {
      margin-top: -4px;
      vertical-align: top;
    }

    &.self-author {
      .avatar {
        float: right;
      }
      .minichat-text {
        margin-right: 40px;
        border-right: 2px solid $brand-info;
        border-radius: $border-radius-small 0 0 $border-radius-small;

        &:after {
          right: -12px;
          @include scale(0.6);
        }
      }
    }

    &.other-author {
      .avatar {
        float: left;
      }
      .minichat-text {
        border-left: 2px solid $brand-info;
        margin-left: 40px;
        border-radius: 0 $border-radius-small $border-radius-small 0;

        &:after {
          left: -12px;
          @include scale(-0.6, 0.6);
        }
      }
    }
  }

  /* Time (HH:MM) */
  .minichat-time {
    float: right;
    font-size: 75%;
    color: #9ca3a8;
    margin-top: -2px;
  }

  .minichat-date {
    text-align: center;
    margin-top: 3px;
    color: $text-muted;
  }

  /* Actual text of the message */
  .minichat-text {
    position: relative;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: $padding-xs-vertical $padding-xs-horizontal;

    @include z-depth(1);
    &:hover {
      @include z-depth(0);
    }
    &:after {
      content: "";
      width: 16px;
      height: 16px;
      display: block;
      position: absolute;
      top: 2px;
      z-index: 1;
      background: url($bubble-arrow);
    }
  }
}

.minichat-remainingChars {
  margin-top: $padding-large-vertical;
  text-align: center;
  font-size: $font-size-small;
  color: $text-muted;
}





/*********** Birthday */
.birthday .birthday_avatar {
  float: right;
}

.birthday .birthday_date {
  display: block;
  font-size: $font-size-small;
  color: $text-muted;
}