//
// Variables
// --------------------------------------------------


//== Colors
//

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         #2c4250;
$brand-info:            #5E7EA2;
$brand-danger:          #ff5955;

$brand-primary-alt:     $brand-info;
$mutedColor:        lightgray;

//== Misc

// http://www.flaticon.com/free-icon/play-arrow_60813
$bubble-arrow: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAkUlEQVQ4jWNgYGBgiKlb7BpXt7AhtGEVGwM5IL5usXdc3aL/cXWLrsU1LLKhxID/cXWL/sbVLZqWVr6Kn1wDoHjh07i6hYEUGADDi9clNSyXosCARf/j6hZ9iK9bnNnQ0MBErgEwfDi2ZpEmJQb8j6tb9DOubnE9SpTT0wCyvUBJIJIdjeQnJIqSMnmZiZLsDADoXCmiMGduHAAAAABJRU5ErkJggg==";

//== Scaffolding
//

$body-bg:               fff; //lighten($brand-info, 35%);
$link-color:            $brand-info;
$link-hover-color:      $brand-primary;


//== Typography
//

$font-family-sans-serif:  "Helvetica Neue",Helvetica,Arial,sans-serif;
$font-family-serif:  serif;
$font-family-base: $font-family-sans-serif;

$headings-color:          $brand-primary;

//== Components
//

$border-radius-small:       3px; //6px;
$border-radius-base:        5px; //10px;
$border-radius-large:       8px; //14px;


//== Dropdowns
//

$dropdown-link-color:            $brand-primary-alt;
$dropdown-link-hover-color:      #fff;
$dropdown-link-hover-bg:         $brand-primary-alt;

//== Navbar
//

// Basics of a navbar
$navbar-default-color:             white;
$navbar-default-bg:                $brand-primary-alt;
$navbar-default-border:            $brand-primary-alt;

// Navbar links
$navbar-default-link-color:                $navbar-default-color;
$navbar-default-link-hover-color:          $navbar-default-color;
$navbar-default-link-hover-bg:             darken($navbar-default-bg, 30%);
$navbar-default-link-active-bg:            $navbar-default-color;
$navbar-default-brand-color:               $navbar-default-color;

// Navbar brand label
$navbar-default-brand-hover-color:         lighten($navbar-default-brand-color, 20%);


//== Navs
//

$nav-link-hover-bg:                         $navbar-default-bg;


//== Pagination
//

$pagination-color:                     $brand-info;
$pagination-bg:                        transparent;
$pagination-border:                    $mutedColor;

$pagination-hover-color:               white;
$pagination-hover-bg:                  $brand-info;
$pagination-hover-border:              $brand-info;

$pagination-active-color:              white;
$pagination-active-bg:                 $brand-info;
$pagination-active-border:             transparent;

$pagination-disabled-color:            $gray-light;
$pagination-disabled-bg:               transparent;
$pagination-disabled-border:           $mutedColor;


//== Wells
//
//##

$well-bg:                     lighten($brand-primary-alt, 30%);
$well-border:                 darken($well-bg, 20%);