{% extends "profile/__base_auth.html" %}

{% block content %}
<h3>Réinitialisation du mot de passe</h3>


{% if validlink %}
    <p>Vous pouvez maintenant introduire votre nouveau mot de passe.</p>

    <form class="form" method="post" action="">
    {% csrf_token %}
    {% include "_form_errors.html" %}
    {% for field in form %}
        {% include "_form_field.html" with field=field %}
    {% endfor %}

    <button class="btn btn-primary" type="submit">Valider</button>
    </form>
{% else %}
    <p>Le lien utilisé est incorrect. Si le problème persiste, contactez 
    un administrateur.</p>
{% endif %}

{% endblock %}
 
