body {
    background: url('/static/images/st-patrick/beer.svg') no-repeat bottom right, url(/static/images/st-patrick/clovers.png);
    background-color: darken($brand-primary, 20%);
}

.footer .container p:first-child:after {
    content: " — bière arrière plan: CC-BY-SA 3.0 by Ocatecir";
}
