{% extends "__base.html" %}

{% block title %}Rechercher | {{ block.super }}{% endblock title %}

{% block page %}

<h2>Rechercher sur le site</h2>


<form method="post" class="form" action="">
{% csrf_token %}
{% include "_form_errors.html" %}
{% for field in form %}
    {% include "_form_field.html" with field=field %}
{% endfor %}

<button class="btn btn-primary" type="submit">Rechercher</button>
</form>

{% if result_title %}

    <h3>Résultats - {{ result_title }} <small>({{ result_list|length }})</small></h3>

    <ul>
    {% for result in result_list %}
        {% if result.get_absolute_url %}
            <li><a href="{{ result.get_absolute_url }}">{{ result.search_title }}</a>
        {% else %}
            <li>{{ result.search_title }}
        {% endif %}

        <span class="text-muted small">
        ({{ result.search_date|date }}{% if result.search_author %}, par {{ result.search_author }}{% endif %})
        </span>
        {% if result.search_summary %}
            <br/>
            <em>{{ result.search_summary|truncatewords:30 }}</em>
        {% endif %}</li>
    {% empty %}
        <li><em>Aucun résultat trouvé.</em></li>
    {% endfor %}
    </ul>

{% endif %}

{% endblock %} 
