# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Django stuff:
*.log

# Lexpage-specific
app/db
app/settings_prod.py
docker-run.sh

# Bower
bower_components

# Sass cache
*.sass-cache
