# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Django stuff:
*.log

# Lexpage-specific
app/db
app/settings_prod.py

# Bower
bower_components

# Sass cache
*.sass-cache

# pycharm
.idea/*

# Virtualenv
env_lexpage*
venv*

# Gunicorn
gunicorn.pid

# screenshots
screenshots/*.png
