Django==1.9
django-recaptcha==1.0.4
-e git+https://github.com/roidelapluie/django-websocket-redis@a9f0a4b90196d847ed2c7487b82a0bf4542ee821#egg=django_websocket_redis-origin_fix-135
django-widget-tweaks==1.4.1
gevent==1.0.2
greenlet==0.4.9
Markdown==2.6.5
redis==2.10.5
six==1.10.0
