{% extends "profile/__base_auth.html" %}

{% block content %}
<h3>Réinitialisation du mot de passe</h3>

<p>Si vous pensez avoir oublié votre mot de passe, vous pouvez effectuer, par 
l'intermédiaire de cette page, une demande de réinitialisation. Complétez 
le formulaire ci-dessous. Un e-mail vous sera alors envoyé, e-mail contenant 
un lien vous permettant d'introduire un nouveau mot de passe.</p>

<form class="form" method="post" action="{% url 'auth_password_reset' %}">
{% csrf_token %}
{% include "_form_errors.html" %}
{% for field in form %}
    {% include "_form_field.html" with field=field %}
{% endfor %}

<button class="btn btn-primary" type="submit">Valider</button>
</form>

<p>Notez qu'une fois le formulaire complété et validé, vous serez automatiquement
redirigé vers la page d'identification. Aucune confirmation de l'envoi d'e-mail 
ne sera visible. Pensez à consulter votre boîte de réception !</p>


{% endblock %}
 
