{% extends "profile/__base_registration.html" %}

{% block content %}
<h3>En attente d'activation</h3>

<div class="well">
<p>Votre compte a été créé, mais avant de pouvoir vous connecter sur {{ SITE_NAME }}, il
faut l'activer. Un e-mail vous a été envoyé avec une clé d'activation. 
Utilisez le lien fourni dans cet e-mail pour finaliser la création de votre
compte et pouvoir accéder à ce dernier. </p>

<p>Notez que cet e-mail devrait vous parvenir rapidement. Cependant, il arrive 
parfois que cela puisse prendre jusqu'à 24h. Soyez rassuré : vous disposez de 
5 jours pour valider votre compte...</p>
</div>

{% endblock content %}
