{# This is a nunjucks template.
To compile it, run "grunt".
#}
{%- set messageRead = false -%}
<div class="minichat-content">
{%- for date_group in dates -%}
    <div class="minichat-date">
    {{ date_group.date|naturalDay }}
    </div>
    {%- for group in date_group.groups -%}
        <div class="minichat-message{% if group.user.username == current_username %}{% set messageRead = true %} self-author{% else %} other-author{% endif %}">
        <a class="minichat-user" href="{{ group.user.get_absolute_url }}">
            <img src="{{ group.user.profile.avatar }}" title="{{ group.user.username }}" class="avatar verysmallavatar"/></a>
            <div class="minichat-text">
            {%- for message in group.messages|reverse -%}
                <div{% if not messageRead and message.date|isAfter(last_visit) %} class="new"{% endif %}>
                  <span class="minichat-time">{{ message.date|time }}</span>
                  {{ message.text }}
                </div>
            {%- endfor -%}
            </div>
        </div>
    {%- endfor %}
{%- endfor -%}
</div>
