{# This is a nunjucks template.
To compile it, install nunjucks and run the following command:

precompile --name "/minichat/latests.html" app/minichat/js_templates/latests.html > app/minichat/static/js/minichat.templates.js

Do not forget to minify the JS you have made.
#}
<div class="minichat-content">
{% set previousDate = "none" %}
{% for message in results %}
    {% if message.date[0] != previousDate %}
    <div class="minichat-date">
        {{ message.date[0] }}
    </div>
    {% set previousDate = message.date[0] %}
    {% endif %}

    <div class="minichat-message {% if message.user.username == user %}self-author{% else %}other-author{% endif %}">
        <a class="minichat-user" href="{{ message.user.get_absolute_url }}">
            <img src="{{ message.user.profile.avatar }}" title="{{ message.user.username }}" class="avatar verysmallavatar"/></a>
        <div class="minichat-text">
            <span class="minichat-time">{{ message.date[1] }}</span>
            {{ message.text }}
        </div>
    </div>
{% endfor %}
</div>
