@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    color: $color;
    background-color: lighten($background, 15%);
        border-color: lighten($border, 25%);
  }
  &:hover {
    color: $color;
    background-color: lighten($background, 15%);
        border-color: lighten($border, 12%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: lighten($background, 15%);
        border-color: lighten($border, 12%);

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: lighten($background, 15%);
          border-color: lighten($border, 25%);
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: $background;
          border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}

@mixin arceffect($target: white) {
  border-top: 4px solid $mainColor;
  border-radius: $border-radius-base $border-radius-base 0px 0px;
  @include gradient-vertical(lighten($secondColor, 20%), $target, 0, 8px);
}


@mixin z-depth($depth) {
  $depthpx: $depth * 1px;
  @include box-shadow(0 3px 2*$depthpx $depthpx rgba(0, 0, 0, 0.05*$depth));
}


