//
// Brand colors, to be overwritten by themes
// --------------------------------------------------

$brand-primary:         #88450E;
$brand-primary-alt:     darken(#FE9600, 20%);
$brand-info:            transparentize(#88450E, 0.75);

