//
// Brand colors, to be overwritten by themes
// --------------------------------------------------

$brand-primary:         #cb2d3e;
$brand-primary-alt:     darken(#cb2d3e, 10%);
$brand-info:            lighten($brand-primary, 25%);
$brand-danger:          darken($brand-primary, 10%);

