//
// Brand colors, to be overwritten by themes
// --------------------------------------------------

$brand-primary:         lighten(#6d0505, 10%);
$brand-primary-alt:     darken(#c01515, 10%);
$brand-info:            lighten($brand-primary, 40%);
$brand-danger:          darken(#d9534f, 10%);

