{% extends "board/__base_board.html" %}

{% load humanize %}
{% load markup_bbcode %}

{% block title %}Liste des messages | {{ block.super }}{% endblock %}

{% block content %}

    <h3>Liste des messages <small>({{ page_obj.paginator.count }})</small></h3>

    <div align="center">
    {% include "_pagination.html" with page_obj=page_obj page_url='board_archives_messages' %}
    
    <table class="table table-striped">
    <thead>
    <tr>
        <th>Message</th><th class="col-sm-2">Auteur</th><th class="col-sm-2">Date</th>
    </tr>
    </thead>
    <tbody>

    {% if message_list %}
        {% for message in message_list %}
            <tr>
                <td>
                    <a href="{% url 'board_message_show' message.pk %}">{{ message.text|striptags|truncatewords:12|truncatechars:70 }}</a><br/>
                    <span class="small text-muted">Dans <em>{{ message.thread.title }}</em>.</span>
                </td>
                <td><a href="{% url 'profile_show' message.author %}">{{ message.author.username }}</a></td>
                <td>{{ message.date|naturalday:'d/m/y' }} à {{ message.date|time }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr><td><em>Aucun message pour la période choisie.</em></td><td></td><td></td></tr>
    {% endif %}
    </tbody>
    </table>

    {% include "_pagination.html" with page_obj=page_obj page_url='board_archives_messages' %}
    </div>

{% endblock %}
