{% extends "board/__base_thread.html" %}

{% block title %}Répondre | {{ block.super }}{% endblock %}

{% block content %}
    <h3>Répondre - {{ thread.title }}</h3>

    <form method="post" class="form" action="">
    {% csrf_token %}
    {% include "_form_errors.html" %}
    {% for field in form %}
        {% include "_form_field.html" with field=field %}
    {% endfor %}

    <button class="btn btn-primary" type="submit">Enregistrer</button>
    <a class="btn btn-default" href="{% url 'board_thread_show_last' thread.pk %}">Annuler</a>
    </form>   

{% endblock %}
