{% load humanize %}
{% load markup_bbcode %}


<div class="messaging-message {% if message.author == user %}self-author{% else %}other-author{% endif %} {% if date_read < message.date %}message-unread{% else %}message-read{% endif %}"" id="msg-{{ message.pk }}">
    <div class="message-side">
        <a href="{% url 'profile_show' message.author %}">
        <img src="{{ message.author.profile.avatar }}" class="avatar" title="{{ message.author.username }}"/>
        <span class="message-author">
            {{ message.author.username }}
        </span></a>
    </div>
    <div class="message-content" id="board-message-{{ message.pk }}">
        <div class="message-date">
            <span>
                {{ message.date|naturalday }} à {{ message.date|time:'H:i' }}
            </span>
        </div>
        <div class="message-text">
            {{ message.text|urlize|smiley|linebreaksbr }}
        </div>
    </div>
</div>



