/* ********** Board ***/

.board-threadlist {
  padding-top: $padding-base-vertical;
  padding-bottom: $padding-base-vertical;
  border-top: none;
  clear: both;

  + .board-threadlist {
    border-top: 1px dotted $mutedColor;
  }

  .board-threadlist-flag {
    float: left;
    height: 100%;
    margin-top: 6px;
    margin-left: 5px;
  }

  .board-threadlist-metadata {
    color: $text-muted;
  }

  .board-threadlist-title,
  .board-threadlist-metadata {
    margin-left: 50px;
  }

  .board-threadlist-avatar {
    float: right;
    max-width: 40%;
    margin-top: 6px;
    margin-right: 5px;
    text-align: right;
    .avatar {
      margin-bottom: 2px;
    }

    @media (max-width: $screen-sm) {
      display: none;
    }
  }

  .board-threadlist-actions {
    float: right;
    margin-top: 6px;
    margin-left: 10px;
    margin-right: 5px;
    max-width: 40%;
  }
}

.board-message {
  clear:both;

  &.message-quoted .message-content {
    border-color: $brand-primary !important;
    &:after {
      background: none;
    }
  }

  .message-side {
    text-align: center;
    vertical-align: top;
    width: 90px;
    float: left;

    .message-number, .message-level {
      font-size: $font-size-small;
    }

    @media (max-width: $screen-sm) {
      text-align: left;
      width: 100%;
      margin-bottom: 3px;

      .avatar {
        width: 30px;
        height: 30px;
        box-shadow: none;
      }
      .message-number, .message-level {
        display: none;
      }
    }

    @media (min-width: $screen-sm) {
      .message-level {
        display: block;
      }
      .message-number {
        display: block;
        margin-top: 8px;
      }
    }
  }

  .message-content {
    position:relative;
    margin-top: 15px;
    margin-bottom: 25px;
    padding: $padding-base-vertical $padding-base-horizontal;

    @include z-depth(1);

    &:hover {
      @include z-depth(0);
    }

    .message-text {
      min-height: 90px;
    }

    @media (max-width: $screen-sm) {
      clear: both;
      .message-text {
        min-height: 30px;
      }
    }
  }

  // On large screen, bubble effect
  @media (min-width: $screen-sm) {
    &.self-author {
      .message-content {
        margin-left: 10px;
        margin-right: 100px;
        border-right: 4px solid $brand-primary;
        border-radius: $border-radius-base 0 0 $border-radius-base;
      }

      .message-side {
        float: right;
      }
    }

    &.other-author {
      .message-content {
        margin-left: 100px;
        margin-right: 10px;
        border-left: 4px solid $brand-primary;
        border-radius: 0 $border-radius-small $border-radius-small 0;
      }
    }

    &.message-unread .message-content {
      border-color: lighten($brand-danger, 5%);
    }
  } // end of large screen

  .message-date {
    float: right;
    margin-top: -24px;
    font-size: $font-size-small;

    &, a {
      color: $text-muted !important;
    }
  }

  .message-flag {
    text-align: right;
  }

  .message-actions {
    text-align: right;
  }
}
