//
// Brand colors, to be overwritten by themes
// --------------------------------------------------

$brand-primary:         lighten(#2c4250, 10%);
$brand-primary-alt:     darken(#1565c0, 10%);
$brand-info:            #5E7EA2;
