/*********** Minichat */


.sidebar-online {
  text-align: center;
  margin-bottom: $padding-large-vertical;
  padding: $padding-small-vertical $padding-small-horizontal;
  .avatar {
    margin-bottom: 2px;
  }
  border-bottom: 1px dotted $mutedColor;
}

/* Full minichat, external div */
#minichat_content {
  margin-bottom: $padding-large-vertical;
}

#minichat_form {
  padding-top: $padding-large-vertical;
  border-top: 2px dotted $brand-primary;
}

#minichat_maximize {
  @media (max-width: $screen-sm) {
    display: none;
  }
}

/* Full minichat, internal div */
.minichat-content {
  overflow:auto;

  .minichat-date {
    text-align: center;
    margin-top: 3px;
    color: $text-muted;
  }

  /* Time (HH:MM) */
  .minichat-time {
    display: inline-block;
    font-size: 80%;
    color: $text-muted;
  }
}

.minichat-content.minichat-maximized {
  max-height:480px;

  padding: $padding-base-vertical $padding-base-horizontal;
  font-size: $font-size-base;
  margin-bottom: $padding-large-vertical + 4px;

  .minichat-message {
    margin-bottom: $padding-large-vertical + 4px;

    .minichat-text {
      margin-left: 35px;
    }

    .avatar {
      float: left;
    }
  }

  .minichat-time {
    padding-right: $padding-base-horizontal / 2;
  }

}

.minichat-content.minichat-minimized {
  max-height:380px;

  @media (max-width: $screen-sm) {
    max-height: 280px;
  }

  padding: $padding-xs-vertical $padding-xs-horizontal;
  font-size: $font-size-small;

  /* Full message (time, text, user, ...) */
  .minichat-message {
    margin-bottom: $padding-large-vertical + 4px;

    .avatar {
      margin-top: -4px;
      vertical-align: top;
    }

    &.self-author {
      .avatar {
        float: right;
      }
      .minichat-text {
        margin-right: 35px;
        border-right: 2px solid $brand-primary;
        border-radius: $border-radius-small 0 0 $border-radius-small;
      }
    }

    &.other-author {
      .avatar {
        float: left;
      }
      .minichat-text {
        border-left: 2px solid $brand-primary;
        margin-left: 35px;
        border-radius: 0 $border-radius-small $border-radius-small 0;
      }
    }
  }

  .minichat-time {
    padding-right: $padding-small-horizontal / 2;
  }

  /* Actual text of the message */
  .minichat-text {
    position: relative;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: $padding-xs-vertical $padding-xs-horizontal;

    @include z-depth(1);
    &:hover {
      @include z-depth(0);
    }
  }
}


.minichat-remainingChars {
  margin-top: $padding-large-vertical;
  text-align: center;
  font-size: $font-size-small;
  color: $text-muted;
}



/*********** Birthday */
.birthday .birthday_avatar {
  float: right;
}

.birthday .birthday_date {
  display: block;
  font-size: $font-size-small;
  color: $text-muted;
}
