{% if error %}
    <a href="javascript: app_notifications.refresh();" data-toggle="tooltip" data-placement="bottom" title="Erreur de chargement des notifications, cliquez pour recharger.">
        <span class="badge"><span class="fa fa-bell-slash"></span></span>
    </a>
{% else %}
    <a href="#" class="dropdown-toggle{% if data|length == 0 %} hidden{% endif %}" data-toggle="dropdown">
        <span class="badge"><span class="fa fa-bell"> {{ data|length }}</span></span>
    </a>
    <div class="dropdown-menu notification_list">
    {% for notification in data %}
       <div id="notification_{{notification.id}}" class="notification">
          <div class="notification_icon">
            <span class="fa fa-lg {{ notification.icon }}"></span>
          </div>
          <div class="notification_dismiss">
              <a class="fa fa-times close" href="javascript:app_notifications.dismiss('{{ notification.dismiss_url}}', 'notification_{{notification.id }}');"></a>
          </div>
          <div class="notification_title">
              {% if notification.show_and_dismiss_url %}
              <a href="{{ notification.show_and_dismiss_url }}">{{ notification.title }}</a>
              {% else %}
                  {{ notification.title }}
              {% endif %}
          </div>
          <div class="notification_descr">
            {{ notification.description }}
            <span class="notification_date">
              &mdash; {{ notification.date | relativeDate }}
            </span>
          </div>
        </div>
    {% endfor %}
    </div>
{% endif %}
