{% extends "messaging/__base_messaging.html" %}

    {% load humanize %}

    {% block title %}
    {% if archived %}
        Messages archivés
    {% else %}
        Boîte de réception
    {% endif %}
    | {{ block.super}}
    {% endblock %}
    

    {% block content %}
    {% if not archived %}
        <h3>Boîte de réception <small>({{ box_list|length }})</small></h3>

        <p class="well">Votre boîte de réception contient toutes les conversations dans lesquelles
        vous intervenez. Vous pouvez marquer ces conversations d'une 
        étoile (<span class="fa fa-star"></span>) afin de les repérer plus facilement, 
        changer l'état de lecture (<span class="fa fa-eye"></span>), 
        les déplacer dans les archives (<span class="fa fa-folder-open"></span>), ou 
        encore les supprimer (<span class="text-danger fa fa-trash-o"></span>).</p>

    {% else %}
        <h3>Messages archivés <small>({{ box_list|length }})</small></h3>
    {% endif %}
    
    {% if box_list %}

    <table class="table table-middle msg-msglist">
    <thead>
    <tr>
    <th></th>
    <th>Conversation</th>
    <th>Participants</th>
    <th>Actions</th>
    </tr>
    </thead>
    <tbody>

    {% for box in box_list %}
        <tr>
        <td>
        <div class="msg-msglist-flag">
            {% if not box.is_read %}
                <a data-toggle="tooltip" title="Aller au premier message non-lu" 
                    class="btn btn-xs btn-danger btn-circle"
                    href="{% url 'messaging_show' box.thread.pk %}#unread"><span class="fa fa-eye-slash"></span></span></a>
            {% else %}
                <a data-toggle="tooltip" title="Aller au dernier message" 
                    class="btn btn-xs btn-info btn-circle"
                    href="{% url 'messaging_show' box.thread.pk %}#last"><span class="fa fa-eye"></span></span></a>
            {% endif %}

            {% if box.is_starred %}
                <a data-toggle="tooltip" title="Retirer l'étoile"
                    class="btn btn-xs btn-warning btn-circle"
                    href="{% url 'messaging_mark_unstarred' box.thread.pk %}"><span class="fa fa-star"></span></a>
            {% endif %}
        </div>
        </td>

        <td>
        <div class="msg-msglist-title">
        <a href="{% url 'messaging_show' box.thread.pk %}">{{ box.thread.title }}</a>
        </div>

        <div class="msg-msglist-last-message text-muted small">
            <span class="badge" data-toggle="tooltip" title="Nombre de messages">{{ box.thread.number }}</span> 
            Dernier : 
            {{ box.thread.last_message.date|naturalday }} 
            à {{ box.thread.last_message.date|time:'H:i' }} par 
            <a href="{% url 'profile_show' box.thread.last_message.author %}">
                {{ box.thread.last_message.author.username }}</a>.
        </div>
        </td>


        <td>
        <div class="msg-msglist-authors">
        {% for user in box.thread.recipients %}
            <a href="{% url 'profile_show' user %}">
                <img src="{{ user.profile.avatar }}" title="{{ user.username }}" class="avatar verysmallavatar"/>
            </a>
        {% endfor %}
        </div>
        </td> 


        <td>
        <div class="msg-msglist-actions">
            <div class="button-group">
            {% if box.is_starred %}
                <a class="btn btn-xs btn-warning btn-circle" data-toggle="tooltip" title="Retirer l'étoile" href="{% url 'messaging_mark_unstarred' box.thread.pk %}{{ next }}"><span class="fa fa-star-o"></span></a>
            {% else %}
                <a class="btn btn-xs btn-warning btn-circle" data-toggle="tooltip" title="Ajouter l'étoile" href="{% url 'messaging_mark_starred' box.thread.pk %}{{ next }}"><span class="fa fa-star"></span></a>
            {% endif %}
            {% if box.is_read %}
                <a class="btn btn-xs btn-info btn-circle" data-toggle="tooltip" title="Marquer non-lue" href="{% url 'messaging_mark_unread' box.thread.pk %}{{ next }}"><span class="fa fa-eye-slash"></span></a>
            {% else %}
                <a class="btn btn-xs btn-info btn-circle" data-toggle="tooltip" title="Marquer lue" href="{% url 'messaging_mark_read' box.thread.pk %}{{ next }}"><span class="fa fa-eye"></span></a>
            {% endif %}
            {% if box.is_archived %}
                <a class="btn btn-xs btn-info btn-circle" data-toggle="tooltip" title="Déplacer vers la boîte de réception" href="{% url 'messaging_mark_unarchived' box.thread.pk %}{{ next }}"><span class="fa fa-inbox"></span></a>
            {% else %}
                <a class="btn btn-xs btn-info btn-circle" data-toggle="tooltip" title="Déplacer vers les archives" href="{% url 'messaging_mark_archived' box.thread.pk %}{{ next }}"><span class="fa fa-folder-open"></span></a>
            {% endif %}
            <a class="confirm-action btn btn-xs btn-danger btn-circle" data-toggle="tooltip" title="Supprimer" href="{% url 'messaging_mark_deleted' box.thread.pk %}{{ next }}"><span class="fa fa-trash-o"></span></a>
            </div>
        </div>
        </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>


    {% else %}
        <em>Vous n'avez aucune conversation ici.</em>
    {% endif %}

{% endblock content %}
