//
// Brand colors, to be overwritten by themes
// --------------------------------------------------

$brand-primary:         lighten(#6d0505, 10%);
$brand-primary-alt:     darken(#c01515, 10%);
$brand-info:            $brand-primary;

