{% load humanize %}
{% load markup_bbcode %}
{% load smiley %}


<div class="board-message {% if message.author == user %}self-author{% else %}other-author{% endif %} {% if user.is_authenticated and thread.flag.message.date < message.date %}message-unread{% else %}message-read{% endif %}" id="msg-{{ message.pk }}">
    <div class="message-side">
        <a href="{% url 'profile_show' message.author %}">
        <img src="{{ message.author.profile.avatar }}" class="avatar" title="{{ message.author.username }}"/>
        <span class="message-author">
            {{ message.author.username }}
        </span></a>

        {% with count=message.author.board_post.count %}
        <span class="message-number"><span class="badge">{{ count }}</span></span>
        <span class="message-level">
            {% if count < 10 %}
                Noob
            {% elif count < 15 %}
                Nerdz
            {% elif count < 25 %}
                Great Nerdz
            {% elif count < 50 %}
                ChtiChampiz
            {% elif count == 69 %}
                Pervers
            {% elif count < 75 %}
                Champiz
            {% elif count < 100 %}
                Hkiwi
            {% elif count == 118 %}
                218 !
            {% elif count < 150 %}
                Padawan
            {% elif count < 250 %}
                Wookie
            {% elif count == 271 %}
                Wookirl271
            {% elif count < 300 %}
                Jedi
            {% elif count < 500 %}
                Maitre jedi
            {% elif count == 666 %}
                Satan
            {% elif count < 750 %}
                Geek
            {% elif count < 1250 %}
                Flooder
            {% elif count == 1337 %}
                1337 5P34K3r
            {% elif count < 2000 %}
                Spammeur
            {% elif count == 2710 %}
                Spam271
            {% else %}
                Bob
            {% endif %}
            </span>
        {% endwith %}
    </div>
    <div class="message-content" id="board-message-{{ message.pk }}">
        <div class="message-date">
            <span>
                <a href="{% url 'board_message_show' message.pk %}">{{ message.date|naturalday }} à {{ message.date|time:'H:i' }}</a>
            </span>
        </div>
        <div class="message-flag">
            <span>
            {% if user.is_authenticated %}
                {% if thread.flag.message.date >= message.date %}
                    <a data-toggle="tooltip" class="btn btn-info btn-xs btn-circle"
                    title="Marquer ce message comme non-lu"
                    href="{% url 'board_message_mark_unread' message.pk %}">
                    <span class="fa fa-eye-slash"></span></a>
                {% else %}
                    <a data-toggle="tooltip" class="btn btn-danger btn-xs btn-circle"
                        href="{% url 'board_message_mark_unread' message.pk %}"
                        title="Marquer à nouveau ce message comme non-lu">
                         <span class="fa fa-eye-slash"></span></a>
                {% endif %}
            {% endif %}
            </span>
        </div>

        <div class="message-text">
            {% if old %}
                <div class="text-center">
                <strong class="text-warning">Reprise automatique du message précédent.</strong>
                </div>
            {% endif %}

            {% if message.moderated %}
                <div class="text-center">
                <strong class="text-danger">Ce message a été modéré.</strong>
                </div>
            {% endif %}

            <div class="bbcode">
                {{ message.text|bbcode|smiley }}
            </div>
            {% with last_modified=message.last_modified %}
            {% if last_modified %}
                <p class="text-muted small">
                    <br/><em>Ce message a été modifié {{ message.number_modified }} fois.
                    Dernière modification : {{ last_modified.date|naturalday }}
                    à {{ last_modified.date|time:"H:i" }} par
                    <a href="{% url 'profile_show' last_modified.edited_by %}">
                    {{ last_modified.edited_by.username }}</a>.</em>
                </p>
            {% endif %}
            {% endwith %}
        </div>

        {% if user.is_authenticated %}
            <div class="message-actions">
                <a class="btn btn-sm btn-primary btn-circle"
                    href="#reply"
                    data-toggle="tooltip"
                    data-messageid="board-message-{{ message.pk }}"
                    data-quote="{% url 'board_api_message-detail' message.pk %}"
                    title="Citer le message">
                    <span class="fa fa-reply"></span></a>
                <a class="btn btn-xs btn-info btn-circle"
                    href="#reply"
                    data-toggle="tooltip"
                    data-messageid="board-message-{{ message.pk }}"
                    data-addquote="{% url 'board_api_message-detail' message.pk %}"
                    title="Ajouter aux messages cités">
                    <span class="fa fa-comments-o"></span></a>
                {% if message.author == user and not message.moderated %}
                    <a class="btn btn-xs btn-default btn-circle"
                        href="{% url 'board_message_edit' message.pk %}"
                        data-toggle="tooltip"
                        title="Éditer le message"><span class="fa fa-edit"></span></a>
                {% elif perms.board.can_moderate %}
                    <a class="btn btn-xs btn-warning btn-circle"
                        href="{% url 'board_message_edit' message.pk %}"
                        data-toggle="tooltip"
                        title="Modérer le message"><span class="fa fa-edit"></span></a>
                {% endif %}
                {% if perms.board.can_destroy or message.author == user and message.is_time_to_delete %}
                    <a class="confirm-action btn btn-xs btn-danger btn-circle"
                        href="{% url 'board_message_delete' message.pk %}"
                        data-toggle="tooltip"
                        title="Supprimer le message"><span class="fa fa-trash-o"></span></a>
                {% endif %}
            </div>
        {% endif %}

    </div>
</div>



