{# Receive thread and action #}
{% load humanize %}
{% load misc %}

<div class="board-threadlist {% if thread.status == thread.STATUS_READ %}board-threadlist-read{% elif thread.status == thread.STATUS_UNREAD %}board-threadlist-unread{% elif thread.status == thread.STATUS_UPDATED %}board-threadlist-updated{% endif %}">

    {% if action and user.is_authenticated %}
        <div class="board-threadlist-actions">
            <a class="btn btn-info btn-sm confirm-action btn-circle" data-toggle="tooltip"
                title="Marquer la discussion comme non-lue" href="{% url 'board_thread_mark_unread' thread.pk thread.slug %}">
                <span class="fa fa-eye-slash"></span></a>
            {% if perms.board.can_destroy %}
                <a class="btn btn-danger btn-sm confirm-action btn-circle" data-toggle="tooltip"
                    title="Supprimer la conversation" href="{% url 'board_thread_delete' thread.pk thread.slug %}">
                    <span class="fa fa-trash-o"></span></a>
            {% endif %}
        </div>
    {% endif %}


    <div class="board-threadlist-avatar">
        {% with thread.most_active_authors as most_active %}
            {% with most_active.0 as user %}
                <a href="{% url 'profile_show' user.username %}"><img src="{{ user.profile.avatar }}" title="{{ user.username }}" class="avatar verysmallavatar"/></a>
            {% endwith %}
            {% for user in most_active|slice:'1:5' %}
                <a class="hidden-xs" href="{% url 'profile_show' user.username %}"><img src="{{ user.profile.avatar }}" title="{{ user.username }}" class="avatar verysmallavatar"/></a>
            {% endfor %}
            {% if most_active|length > 1 %}
                <span class="board-threadlist-avatar-extra visible-xs-inline">+{{ most_active|length|add:-1 }}</span>
                {% if most_active|length > 5 %}
                    <span class="board-threadlist-avatar-extra hidden-xs">+{{ most_active|length|add:-5 }}</span>
                {% endif %}
            {% endif %}
        {% endwith %}
    </div>

   <div class="board-threadlist-title">
        <span class="badge intensity-{{ thread.number|scaled:100 }}-bg" data-toggle="tooltip" title="Nombre de messages">{{ thread.number }}</span>

        {% if thread.status == thread.STATUS_READ %}
            <a href="{% url 'board_thread_show_last' thread.pk thread.slug %}#last">{{ thread.title }}</a>
        {% elif thread.status == thread.STATUS_UPDATED %}
            <a href="{% url 'board_thread_show_unread' thread.pk thread.slug %}#new">{{ thread.title }}</a>
        {% else %}
            <a href="{% url 'board_thread_show' thread.pk thread.slug %}">{{ thread.title }}</a>
        {% endif %}
    </div>

    <div class="board-threadlist-metadata">
        {{ thread.last_message.author.username }}, {{ thread.last_message.date|naturaltime }}
    </div>
</div>
