{% if ANALYTICS %}

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  {% if user.is_authenticated %}
  _paq.push(['setCustomVariable', 1, 'authenticated', 'yes', 'visit']);
  {# _paq.push(['setUserId', '{{ user.get_username }}']); #}
  {% else %}
  _paq.push(['setCustomVariable', 1, 'authenticated', 'no', 'visit']);
  {% endif %}
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://analytics.lexpage.net/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="https://analytics.lexpage.net/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

{% endif %}