{% load humanize %}

{% if user.is_authenticated %}
    {% load notifications %}
    {% notifications as notifications_list %}
{% endif %}

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header col-sm-2">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarA-collapse">
        <span class="sr-only">Menu</span>
        {% if user.is_authenticated and notifications_list|length > 0 %}  
            <span class="badge"><span class="fa fa-bell"> {{ notifications_list|length }}</span></span>
        {% else %}
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        {% endif %}
      </button>
      <a href="{% url 'homepage' %}" class="navbar-brand">Lexpage</a>
    </div><!-- header -->

    <div class="collapse navbar-collapse" id="navbarA-collapse">
      <ul class="nav navbar-nav">

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="fa fa-newspaper-o"></span> Billets
            </a>
          <ul class="dropdown-menu">
            {% if user.is_authenticated %}
              <li><a href="{% url 'blog_draft_create' %}"><span class="fa fa-fw fa-pencil"></span> Nouveau billet</a></li>
              <li><a href="{% url 'blog_draft_list' %}"> <span class="fa fa-fw fa-clipboard"></span> Mes brouillons</a></li>
              <li class="divider"></li>
            {% endif %}
            <li><a href="{% url 'blog_archives' %}"><span class="fa fa-fw fa-list"></span> Liste des billets</a></li>
            <li><a href="{% url 'blog_tags' %}"><span class="fa fa-fw fa-tags"></span> Liste des étiquettes</a></li>
            {% if user.is_authenticated %}
              {% if perms.blog.can_approve %}
                <li class="divider"></li>
                <li><a href="{% url 'blog_pending_list' %}"> <span class="fa fa-fw fa-clock-o"></span>Billets en attente</a></li>
              {% endif %}
            {% endif %}
          </ul><!-- menu -->
        </li><!-- billets -->


        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="fa fa-comments-o"></span> Discussions
          </a>
          <ul class="dropdown-menu">
            {% if user.is_authenticated %}
              <li><a href="{% url 'board_create' %}"><span class="fa fa-fw fa-pencil"></span> Nouvelle discussion</a></li>
              <li class="divider"></li>              
            {% endif %}          
            <li><a href="{% url 'board_latests' %}"><span class="fa fa-fw fa-play"></span> Discussions actives</a></li>
            {% if user.is_authenticated %}
              <li><a href="{% url 'board_followed' %}"><span class="fa fa-fw fa-eye"></span> Discussions suivies</a></li>
            {% endif %}
            <li><a href="{% url 'board_archives' %}"><span class="fa fa-fw fa-comments-o"></span> Liste des discussions</a></li>
            <li><a href="{% url 'board_archives_messages' %}"><span class="fa fa-fw fa-list"></span> Liste des messages</a></li>
          </ul><!-- menu -->
        </li><!-- discussions -->




        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="fa fa-users"></span> Lexpagiens
          </a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'profile_list' %}"><span class="fa fa-fw fa-users"></span> Liste des profils</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'profile_show' user %}"><span class="fa fa-fw fa-user"></span> Voir mon profil</a></li>
                <li><a href="{% url 'profile_edit' %}"><span class="fa fa-fw fa-gear"></span> Éditer mon profil</a></li>
            {% else %}
                <li><a href="{% url 'auth_login' %}"><span class="fa fa-fw fa-sign-in"></span> S'identifier</a></li>
                <li><a href="{% url 'registration_register' %}"><span class="fa fa-fw fa-hand-o-right"></span> S'inscrire</a></li>
            {% endif %}
          </ul><!-- menu -->
        </li><!-- compte -->


        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <span class="fa fa-search"></span> Autre
          </a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'search' %}"><span class="fa fa-fw fa-search"></span> Rechercher sur le site</a></li>
            <li><a href="{% url 'about' %}"><span class="fa fa-fw fa-info"></span> À propos/contact</a></li>
            {% if user.is_staff %}
              <li class="divider"></li>
              <li><a href="{% url 'admin:index' %}"><span class="fa fa-fw fa-gears"></span> Administration</a></li>
              <li><a href="http://analytics.lexpage.net/"><span class="fa fa-fw fa-bar-chart-o"></span> Statistiques</a></li>
              <li><a href="/pma"><span class="fa fa-fw fa-database"></span> PhpMyAdmin</a></li>
            {% endif %}            
          </ul><!-- menu -->
        </li><!-- site -->
      </ul><!-- navbar-->



    {% if user.is_authenticated %}
        <ul class="nav navbar-nav navbar-right">
            {% if notifications_list|length > 0 %}  
            <li class="dropdown">
              <a href="#" class="dropdown-notifications dropdown-toggle" data-toggle="dropdown">
                  <span class="badge"><span class="fa fa-bell"> {{ notifications_list|length }}</span></span>
              </a>
              <div class="dropdown-menu notification_list">
                  {% for notification in notifications_list %}
                      <div id="notification_{{notification.pk}}" class="notification">
                        <div class="notification_icon"> 
                          <span class="fa fa-lg {{ notification.get_icon }}"></span> 
                        </div>
                        <div class="notification_dismiss">
                          <a class="fa fa-times close" href="javascript:notification_dismiss('{% url 'notification_dismiss' notification.pk %}', 'notification_{{notification.pk}}');"></a>
                        </div>
                        <div class="notification_title"><strong>
                            {% if notification.action %}
                                <a href="{% url 'notification_show' notification.pk %}">{{ notification.title }}</a>
                            {% else %}
                                {{ notification.title }}
                            {% endif %}
                            </strong>
                        </div>
                        <div class="notification_descr">
                          {{ notification.description|safe }}
                          <span class="notification_date">
                            &mdash; {{ notification.date|date:'d/m' }}
                          </span>
                        </div>
                      </div>
                  {% endfor %}
              </div>
            </li>
            {% endif %}

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="fa fa-chevron-down"></span>
                    <img src="{{ user.profile.avatar }}" class="avatar"/>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'messaging_create' %}"><span class="fa fa-fw fa-quote-right"></span> Nouvelle conversation</a></li>
                    <li><a href="{% url 'messaging_inbox' %}"><span class="fa fa-fw fa-inbox"></span> Boîte de réception</a></li>
                    <li class="divider"></li>                
                    <li><a href="{% url 'profile_show' user %}"><span class="fa fa-fw fa-user"></span> Voir mon profil</a></li>
                    <li><a href="{% url 'profile_edit' %}"><span class="fa fa-fw fa-gear"></span> Éditer mon profil</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'auth_password_change' %}"><span class="fa fa-fw fa-lock"></span> Changer mon mot de passe</a></li>          
                    <li><a class="confirm-action" href="{% url 'auth_logout' %}"><span class="fa fa-fw fa-sign-out"></span> Me déconnecter</a></li>

                </ul>            
            </li>
        </ul>
    {% else %}
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="{% url 'auth_login' %}" title="S'identifier"><span class="fa fa-sign-in fa-lg"></span></a>
            </li>
        </ul>
    {% endif %}
    </div><!-- navbar collapse -->
  </div><!-- container -->
</nav>
