{% load humanize %}
{% load static %}


{% block sidebar_context %}
{% endblock sidebar_context %}

{% block sidebar_minichat %}
    {% include "minichat/__frame.html"  %}
{% endblock sidebar_minichat %}



{% block sidebar_events %}
    {% if user.is_authenticated %}
        {% load birthday %}
        {% birthday as birthday_users %}
        {% if birthday_users|length > 0 %}
            <div class="birthday sidebar-block">
                <h2>Anniversaires</h2>

                {% for user in birthday_users %}
                    <div class="birthday_avatar">
                        <a href="{% url 'profile_show' user %}">
                            <img src="{{ user.profile.avatar }}" title="{{ user.username }}" class="avatar verysmallavatar"/></a>
                    </div>
                    <a class="birtday_user" href="{% url 'profile_show' user %}">
                        {{ user.username }}</a>
                    <span class="birthday_date">
                {{ user.profile.get_birthdate|naturalday|capfirst }}
                ({{ user.profile.birthdate }})
            </span>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
{% endblock sidebar_events %}
