{% load humanize %}


{% block sidebar_context %}
{% endblock sidebar_context %}

{% block sidebar_minichat %}
  <div id="minichat" class="panel panel-primary">
    <div class="panel-heading">
       <div class="pull-right">
        <a class="btn btn-xs btn-primary" 
            href="{% url 'minichat_archives' %}"
            data-toggle="tooltip"
            data-placement="top"
            title="Archives">
          <span class="fa fa-folder-open"></span>
        </a>
      </div>
      <h3 class="panel-title">Minichat</h3>
    </div>
    <div class="panel-body">
      <div id="minichat_wrapper">
          {% if user.is_authenticated %}
            {% load online %}
            {% who_is_online as online_users %}                
            {% if online_users %}
                <div class="sidebar-online" data-toggle="tooltip" data-placement="left" title="Actuellement en ligne">
                    {% for user in online_users %}
                        <a href="{% url 'profile_show' user %}">
                        <img src="{{ user.profile.avatar }}" title="{{ user.username }}" class="avatar smallavatar"/></a>
                    {% endfor %}
                </div>
            {% endif %}
          {% endif %}

        <div id="minichat_content">
          <p class="text-muted text-center">
          <span class="fa fa-spinner fa-spin"></span> Chargement...</p>
        </div>
        {% if user.is_authenticated %}
          <form action="{% url 'minichat_post' %}" method="post" id="minichat_form">
            {% csrf_token %}
            <div class="input-group">
              <input name="text" maxlength="150" type="text" class="form-control" 
                placeholder="Nouveau message"/>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <span class="fa fa-pencil"></span>
                    </button>
                </span>
            </div>
            <div class="minichat-remainingChars">
              <span id="remainingChars"></span>
            </div>                        
          </form>
          <script>
          $(document).ready(function () {
              $("#minichat_form input.form-control").autocomplete({
                  serviceUrl: "{% url 'minichat_userslist' %}",
                  minChars: 3,
                  autoSelectFirst:true,
                  delimiter: " ",
                  tabDisabled: true,
                  onSearchStart: function (query) {
                    if (query.query.toLowerCase().charAt(0)=="@") {
                      return true;
                    } else {
                      return false;
                    }
                  },
              });
          });
          </script>    
        {% endif %}               
      </div><!-- minichat_content -->     
    </div> <!-- wrapper -->        
    <script>
    $(document).ready(function() {
      minichat_init_display($("#minichat_content"), "{% url 'minichat_latests' %}");
      {% if user.is_authenticated %}
        minichat_init_post();
        minichat_init_remaining_chars();
      {% endif %}
    });
    </script>      
  </div> <!-- panel -->
{% endblock sidebar_minichat %} 



{% block sidebar_events %}
    {% load birthday %}
    {% birthday as birthday_users %}
    {% if user.is_authenticated and birthday_users|length > 0 %}
    <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Anniversaires</h3>
        </div>
        <div class="panel-body birthday">
            {% for user in birthday_users %}
                <div class="birthday_avatar">
                    <a href="{% url 'profile_show' user %}">
                    <img src="{{ user.profile.avatar }}" title="{{ user.username }}" class="avatar verysmallavatar"/></a>
                </div>            
                <a class="birtday_user" href="{% url 'profile_show' user %}">
                {{ user.username }}</a>
                <span class="birthday_date">
                    {{ user.profile.get_birthdate|naturalday|capfirst }}
                    ({{ user.profile.birthdate }})
                </span>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock sidebar_events %}
