
<style>

@font-face {
  font-family: 'Kremlin';
  src: url('/static/aprilfool/kremlin.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

.navbar .dropdown {
    font-family: Kremlin;
}

.navbar .dropdown li { 
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; 
}

.navbar-brand {
    background-image: url(/static/aprilfool/russia.png);
    background-repeat: no-repeat;
    font-family: Kremlin;
    padding-left:3px;
}

h2, h3, h4, .page a {
    font-family: Kremlin;
}

.page a {
    font-size:85%;
}

h2 a.btn,
h4 a.btn {
    font-size:80% !important;
}

.bbcode:before,
p:before {
    content: "Comrade ! ";
}

.bbcode:after,
.page p:after {
    content: " Da !";
}

.fa:before {
    font-family: Kremlin;
    content: "\262d "!important;
    font-size:140%;
    padding:0px;
}

</style>

<script>
$(document).ready(function() {
    // Glory to Russia :D
    $(".avatar").attr("src", "/static/aprilfool/hammer.png");
});
</script>
